body, html {
    padding: 0;
    margin: 0;
}


.footer {
    background-color: rgba(0,0,0,.1);
    border: 0px solid rgba(255,0,0,.2);
    border-top-width: 1px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
}
