body, html {
    padding: 0;
    margin: 0;
}


.footer {
    display: none;
}

object {
    height: 100%;
    width: 100%;
}

#NW, #NE, #SW, #SE { 
    position:fixed; 
    width:50%; 
    height:50%;
    padding: 0;
}
#NW { top:0;   left:0;}
#NE { top:0;   left:50%;}
#SW { top:50%; left:0;}
#SE { top:50%; left:50%;}  

.stats-table {
    font-size: 90%;
}
