<!DOCTYPE html>

<html lang="se">
    
    <head>
        {% block head %}

        <meta http-equiv="refresh" content="{{ refresh_time }}" />
            
        <script type="text/javascript" src="{{ url_for('static', filename='DataTables-1.10.15/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='DataTables-1.10.15/js/jquery.dataTables.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables-1.10.15/css/jquery.dataTables.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <title>{{ title }} - Wellstep Parser</title>

        {% endblock %}
    </head>

    <body>
        
        {% block body %}{% endblock %}
    
        <div class="footer">
            {% block footer %}
            &copy; 2017 - Daniel Falk
            {% endblock %}
        </div>
    
    </body>

</html>
